body {
    background-color: #234;
    color: white;
}

.yDimension {
    display: flex;
}

.y div {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.map {
    width: 500px;
    height: 500px;
    border: 3px solid #567;
    display: flex;
    flex-wrap: wrap;
}

.map .sq {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #666;
    box-sizing: border-box;
   
}

.map .ship {
    background-color: #651;
}

.map .hit {
    background-image: url(../i/hit.png);
    background-repeat: no-repeat;
    background-position: center;
}
.map .missed {
    background-image: url(../i/missed.png);
    background-repeat: no-repeat;
    background-position: center;
}

.x {
    width: 500px;
    height: 50px;
    display: flex;
}

.x div {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}