body {
    background-color: #234;
    color: white;
    font-family: sans-serif;
}

.navbar a {
    color: white;
}

.yDimension {
    display: flex;
}

.y div {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.map {
    width: 500px;
    height: 500px;
    border: 3px solid #567;
    display: flex;
    flex-wrap: wrap;
}

.map .sq {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #666;
    box-sizing: border-box;
}

.map .hit {
    background-image: url(../i/hit.png);
    background-repeat: no-repeat;
    background-position: center;
}
.map .missed {
    background-image: url(../i/missed.png);
    background-repeat: no-repeat;
    background-position: center;
}

.x {
    width: 500px;
    height: 50px;
    display: flex;
}

.x div {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
/*------------*/
.match-table {
    border: 1px solid #666;
    width: 1100px;
    margin: 100px auto;
    text-align: center;
}

.match-table td {
    border: 1px dotted #444;
    padding: 5px;
}

.match-table form input {
    display: block;
    margin: auto;
}

.match-table form input,
.match-table form button {
    padding: 10px;
}

.match-table form a {
    color: white;
}